{% extends 'nav.html' %}
{% load static %}


{% block content %}


            <!-- breadcrumb begin -->
            <div class="breadcrumb-oitila">
                <div class="container">
                    <div class="row justify-content-lg-around">
                        <div class="col-xl-9 col-lg-7 col-8">
                            <div class="part-txt">
                                <h1>about us</h1>
                                <ul>
                                    <li>home</li>
                                    <li>about page</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-4 d-flex align-items-center">
                            <div class="part-img">
                                <img src="{% static 'img/breadcrumb-img.png' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->

            <!-- about begin -->
            <div class="about about-inner">
                <div class="container">
                    <div class="how-to-works">
                        <div class="row justify-content-center justify-content-sm-center justify-content-md-start">
                            <div class="col-xl-4 col-lg-4 col-sm-10 col-md-6">
                                <div class="single-system">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/add-user.svg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h4 class="title">Register Account</h4>
                                        <p>Register for an account. It's totally easy and free</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-10 col-md-6">
                                <div class="single-system">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/coin.svg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h4 class="title">Invest Money</h4>
                                        <p>Choose your investment plan and make first deposit</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-10 col-md-6">
                                <div class="single-system">
                                    <div class="part-icon">
                                        <img src="{% static 'img/svg/money-bag.svg' %}" alt="">
                                    </div>
                                    <div class="part-text">
                                        <h4 class="title">Get Withdraw</h4>
                                        <p>Request for the withdrawal and receive a payment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-center">
                        <div class="col-xl-6 col-lg-6 col-sm-10">
                            <div class="part-text">
                                <h2>The <span class="special">right place</span> for you to invest money</h2>
                                <p>The standard chunk of Investment used since the 1500s is reproduced <span class="spc">below for those interested.</span> Sections 1.10.32 and 1.10.33.</p>
                                <ul>
                                    <li><i class="fas fa-check"></i> The standard chunk of Investment used since </li>
                                    <li><i class="fas fa-check"></i> reproduced below for those interested. Sections </li>
                                    <li><i class="fas fa-check"></i> de Finibus Bonorum et Malorum" by Cicero are also </li>
                                    <li><i class="fas fa-check"></i> reproduced in their exact original form</li>
                                </ul>
                                <p>There are many variations of passages of Investment available, but the majority have suffered alteration in some form.</p>
                                <a href="{% url 'login' %}" class="btn-hyipox-2">Invest now</a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-sm-10 col-md-12">
                            <div class="part-feature">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                                        <div class="single-feature">
                                            <div class="feature-icon">
                                                <img src="{% static 'img/svg/solar-energy.svg' %}" alt="">
                                            </div>
                                            <div class="feature-text">
                                                <h3>We Innovate</h3>
                                                <p>There are many variations of passages of Investment available, but the majority have suffered alteration </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                                        <div class="single-feature">
                                            <div class="feature-icon">
                                                <img src="{% static 'img/svg/diploma.svg' %}" alt="">
                                            </div>
                                            <div class="feature-text">
                                                <h3>We're Certified</h3>
                                                <p>There are many variations of passages of Investment available, but the majority have suffered alteration </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                                        <div class="single-feature">
                                            <div class="feature-icon">
                                                <img src="{% static 'img/svg/blockchain.svg' %}" alt="">
                                            </div>
                                            <div class="feature-text">
                                                <h3>We Provide Crypto</h3>
                                                <p>There are many variations of passages of Investment available, but the majority have suffered alteration </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-md-6">
                                        <div class="single-feature">
                                            <div class="feature-icon">
                                                <img src="{% static 'img/svg/worldwide.svg' %}" alt="">
                                            </div>
                                            <div class="feature-text">
                                                <h3>We're Global</h3>
                                                <p>There are many variations of passages of Investment available, but the majority have suffered alteration </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- about end -->

            <!-- statics begin -->
            <div class="statics">
                <div class="container">
                    <div class="all-statics">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-xl-4 col-lg-3 col-sm-10 col-md-4">
                                <div class="single-statics">
                                    <div class="part-img">
                                        <img src="{% static 'img/svg/investor.svg' %}" alt="investor">
                                    </div>
                                    <div class="part-text">
                                        <span class="counter">565+</span>
                                        <span class="title">total investor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-3 col-sm-10 col-md-4">
                                <div class="single-statics">
                                    <div class="part-img">
                                        <img src="{% static 'img/svg/withdraw.svg' %}" alt="investor">
                                    </div>
                                    <div class="part-text">
                                        <span class="counter">255+</span>
                                        <span class="title">total withdraw</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-3 col-sm-10 col-md-4">
                                <div class="single-statics">
                                    <div class="part-img">
                                        <img src="{% static 'img/svg/money-transfering.svg' %}" alt="investor">
                                    </div>
                                    <div class="part-text">
                                        <span class="counter">265+</span>
                                        <span class="title">total transaction</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- statics end -->

            <!-- team inner begin -->
            <div class="team-inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-8">
                            <div class="section-title">
                                <span class="sub-title">
                                    Uppermost Investments
                                </span>
                                <h2>
                                    Meet with our<span class="special">  Top Investors</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="single-box">
                                <div class="part-img">
                                    <img src="{% static 'img/member-1.jpg' %}" alt="image">
                                </div>
                                <div class="part-txt">
                                    <h3>Charles Bukowski</h3>
                                    <p>founder</p>
                                    <div class="social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="single-box">
                                <div class="part-img">
                                    <img src="{% static 'img/member-2.jpg' %}" alt="image">
                                </div>
                                <div class="part-txt">
                                    <h3>John Doe Jr</h3>
                                    <p>manager</p>
                                    <div class="social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="single-box">
                                <div class="part-img">
                                    <img src="{% static 'img/member-3.jpg' %}" alt="image">
                                </div>
                                <div class="part-txt">
                                    <h3>Bukowski Charles</h3>
                                    <p>cheaf assistant</p>
                                    <div class="social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="single-box">
                                <div class="part-img">
                                    <img src="{% static 'img/member-1.jpg' %}" alt="image">
                                </div>
                                <div class="part-txt">
                                    <h3>Charles Bukowski</h3>
                                    <p>founder</p>
                                    <div class="social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- team inner end -->

            <!-- call to action begin -->
            <div class="cta">
                <div class="container">
                    <div class="cta-bg">
                        <div class="row justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-center">
                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-10 d-xl-flex d-lg-flex d-block align-items-center">
                                <div class="cta-text">
                                    <h2>We're Always Thinking Something Different</h2>
                                    <p>Trading Forex involves the buying of one currency and simultaneous selling of another. 
                                        In Forex, traders attempt to profit by buying and selling currencies and actively speculating 
                                        on the direction currencies are likely to take in the future.

                                        Forex trading is considered as one of the largest and most liquid markets in the world. 
                                        According to a recent triennial report from the Bank for International Settlements 
                                        (a global bank for national central banks), the dollar amount of daily transactions in the 
                                        Forex market is around USD 5 trillion and $1.5 trillion of this amount comes from spot trading. 
                                        The large dimensions of the market makes finding buyers and sellers fast and easy, allowing for a 
                                        dynamic investing process. This volatility can be difficult because of the limited decision time, 
                                        that is why dedicated investor teams tend to be more successful than "side traders".</p>
                                    
                                    <a href="{% url 'register' %}" class="btn-hyipox-medium cta-btn">Start Investing</a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex justify-content-end d-block align-items-center">
                                <div class="part-video">
                                    <img src="{% static 'img/video.jpg' %}" alt="">
                                    <button data-video-id="L61p2uyiMSo" class="play-video js-video-button"><i class="fas fa-play"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- call to action end -->

            <!-- choosing reson begin -->
            <div class="choosing-reason">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-8">
                            <div class="section-title">
                                <span class="sub-title">
                                    You couldn't think
                                </span>
                                <h2>
                                    why oitila is<span class="special">  the best</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-sm-10 col-md-12">
                            <div class="part-left">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-4">
                                        <div class="single-reason">
                                            <div class="icon-box">
                                                <div class="part-icon">
                                                    <img src="{% static 'img/svg/withdraw.svg' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="part-text">
                                                <h3 class="title">Get Instant Withdrawals</h3>
                                                <p>Get your payment instantly through requesting it! We don't take percentage</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4">
                                        <div class="single-reason">
                                            <div class="icon-box">
                                                <div class="part-icon">
                                                    <img src="{% static 'img/svg/referral.svg' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="part-text">
                                                <h3 class="title">Unlimited Referral Bonus</h3>
                                                <p>Promote oitila and earn unlimited referral commission from each referral links</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4">
                                        <div class="single-reason">
                                            <div class="icon-box">
                                                <div class="part-icon">
                                                    <img src="{% static 'img/svg/affiliate-marketing.svg' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="part-text">
                                                <h3 class="title">Join To Affiliate Program</h3>
                                                <p>Our affiliate program is a great way to grow your earning. It's more easy to join with us</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-2 d-xl-flex d-lg-none d-block align-items-end">
                            <div class="part-img">
                                <div class="shadow-shape"></div>
                                <img src="{% static 'img/choosing-reason.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-sm-10 col-md-12">
                            <div class="part-right">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-4">
                                        <div class="single-reason">
                                            <div class="icon-box">
                                                <div class="part-icon">
                                                    <img src="{% static 'img/svg/bird.svg' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="part-text">
                                                <h3 class="title"> Blockchain Ecosystem</h3>
                                                <p>Get mining with a big profit, and Miner is calculated with the blockchain ecosystem.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4">
                                        <div class="single-reason">
                                            <div class="icon-box">
                                                <div class="part-icon">
                                                    <img src="{% static 'img/svg/shield.svg' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="part-text">
                                                <h3 class="title">SSL Security</h3>
                                                <p>Our system is secured and protected using DDos protection and SSL. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-4">
                                        <div class="single-reason">
                                            <div class="icon-box">
                                                <div class="part-icon">
                                                    <img src="{% static 'img/svg/customer-service.svg' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="part-text">
                                                <h3 class="title">24/7 Friendly Support</h3>
                                                <p>We provide 24/7 friendly support in Oitila. We're always responsible to take care</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- choosing reson end -->

            <!-- testimonial begin -->
            <div class="testimonial">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-8">
                            <div class="section-title">
                                <span class="sub-title">
                                    Our Customer Feedback
                                </span>
                                <h2>
                                    Clients are<span class="special"> happily Satisfied</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="all-testimonials">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-8">
                                <div class="testi-text-slider">
                                    <div class="single-testimonial">
                                        <span class="quot-icon">
                                            <img src="{% static 'img/icon/quot.png' %}" alt="">
                                        </span>
                                        <p>This is a realistic program for anyone looking for a reliable platform to invest their funds. Paid to me regularly, keep up good work!</p>
                                        <div class="part-user">
                                            <span class="user-name">Sadwel Eunton</span>
                                            <span class="user-location">London, UK</span>
                                        </div>
                                    </div>

                                    <div class="single-testimonial">
                                        <span class="quot-icon">
                                            <img src="{% static 'img/icon/quot.png' %}" alt="">
                                        </span>
                                        <p>My team and i wants to thank you for helping us find a great opportunity to make money trading . Very happy with how things are going!.</p>
                                        <div class="part-user">
                                            <span class="user-name">Stefan Sagmeister</span>
                                            <span class="user-location">Denmark</span>
                                        </div>
                                    </div>
                                    
                                    <div class="single-testimonial">
                                        <span class="quot-icon">
                                            <img src="{% static 'img/icon/quot.png' %}" alt="">
                                        </span>
                                        <p>Being part of this program has helped me alot, not only my making money but has also improved my financial skillset and has showed me the path to wealth creation.</p>
                                        <div class="part-user">
                                            <span class="user-name">Shaan</span>
                                            <span class="user-location">Mumbai, India</span>
                                        </div>
                                    </div>
                                    <div class="single-testimonial">
                                        <span class="quot-icon">
                                            <img src="{% static 'img/icon/quot.png' %}" alt="">
                                        </span>
                                        <p>My family and i wants to use this opportunity to thank Fortyield for giving us the platform to make money and generate a steady income through Trading.</p>
                                        <div class="part-user">
                                            <span class="user-name">Neil Patel</span>
                                            <span class="user-location">Switzerland</span>
                                        </div>
                                    </div>

                                    

                                </div>
                                <div class="testi-user-slider">
                                    <div class="single-user">
                                        <img src="{% static 'img/testimonial.png' %}" alt="">
                                    </div>
                                    <div class="single-user">
                                        <img src="{% static 'img/testimonia-2.png' %}" alt="">
                                    </div>
                                    <div class="single-user">
                                        <img src="{% static 'img/testimonia-3.png' %}" alt="">
                                    </div>
                                    <div class="single-user">
                                        <img src="{% static 'img/testimonial.png' %}" alt="">
                                    </div>
                                    <div class="single-user">
                                        <img src="{% static 'img/testimonia-2.png' %}" alt="">
                                    </div>
                                    <div class="single-user">
                                        <img src="{% static 'img/testimonia-3.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- testimonial end -->

            <!-- contact begin -->
            <div class="contact" id="contact">
                <div class="container container-contact">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-8">
                            <div class="section-title section-title-2">
                                <span class="sub-title">
                                    Contact Us
                                </span>
                                <h2>
                                    Get in touch<span class="special"> with us</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="bg-tamim">
                        <div class="row justify-content-around">
                            <div class="col-xl-6 col-lg-6 col-sm-10 col-md-6">
                                <div class="part-form">
                                    <form>
                                        <input type="text" placeholder="Players Name">
                                        <input type="text" placeholder="Players Email">
                                        <textarea placeholder="Write to Us..."></textarea>
                                        <button class="submit-btn def-btn" type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-sm-10 col-md-6">
                                <div class="part-address">
                                    <div class="addressing">
                                        <div class="single-address">
                                            <h4>Our Office</h4>
                                            <p>1941 Romines Mill Road
                                                Irving, TX 75062<br/>Texas, United States</p>
                                        </div>
                                        <div class="single-address">
                                            <h4>Email</h4>
                                            <p>DanielleHButeau@teleworm.us<br/>
                                                CharlesTPride@armyspy.com</p>
                                        </div>
                                        <div class="single-address">
                                            <h4>Phone</h4>
                                            <p>+1 318-342-7639<br/>
                                                +1 530-259-4087</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact end -->
{% endblock %}